@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Cal+Sans&family=Special+Gothic&display=swap');
body{
    padding: 0px;
    margin: 0px;
    align-items: center;
    font-family: 'Cal Sans';
}   
/* ------NAVBAR------- */
.navbar{
    display: flex;
    justify-content: space-between;
   height: 88px;
   align-items: center;
   padding-left: 7px;
   padding-right: 15px;
   font-size: large;
}
.navbar button{
    background-color: white;
    font-size: large;
    border: 1px solid grey;
    border-radius: 5px;
    width: 70px; height: 50px;
    font-size: medium;
    font-family: 'Cal Sans';
    padding: auto;
    background-color: none;
}    
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
   list-style: none;
  width: 30%; 
}
.navbar li:hover{
    background-color: rgba(0, 0, 0, 0.574);
    cursor: pointer;
    width: 30%; height: 30%; 
    border-radius: 20px;
    cursor: pointer;
}
/* ------HERO------- */
.head{
    display: flexbox;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url('pexels-photo-715134.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 400px; 
    position: relative;
    background-color: rgba(0, 0, 0, 0.891);
}
.overlay{
    background-color: rgba(0, 0, 0, 0.338);
    display: flexbox;
    height: 400px;
    
}
.midsection input[type=search]{
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    width: 50%;
}
.midsection{
display: flex;
justify-content: center;
align-items: flex-end;
flex-wrap: wrap;
margin-block-start: 0px;
height: 200px;
}
.midsection h1{
    font-size: x-large;
}
.search select{
    padding: 15px; 
    border: none;
    background-color: white;
}
.search button{
    border: none;
    background-color: rgba(237, 234, 234, 0.331);
    padding: 15px; margin: 0px;
    border-radius: 5px;
    cursor: pointer;
}
.search{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 60%; height: fit-content;
    border: none; 
    border-radius: 5px;
}
/* ------BUTTONS MENU------- */
.buttons{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    gap: 9px;
    font-family: 'Cal Sans';
    font-size: xx-large;
}
.homeButton{
 background-color: black;
 color: white; 
 border-radius: 20px;
 padding: 20px;
 font-size: 17px;
 border-radius: 20px;
 border: none;
}
.homeButton:hover{
    background-color: black;
    cursor: pointer;
}
.menu button{
 background-color: none;
 border: none;
 padding: 20px;
 font-size: 17px;
 border-radius: 20px;
}

.menu button:hover{
    background-color: rgba(194, 194, 194, 0.546);
    border-radius: 20px;
    cursor: pointer;
}

/* --------FEED------------ */
.feed{
   display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    width: fit-content;
    justify-content: center;
    gap: 1%;
    align-items: center;
    align-content: center;
    padding-left: 9px;
}
.pics{
   text-align: center;
}
.pics img{
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

